body {
    background: #d6c5d6;
}

.maliqkue {
    font-size: 450%;
    color: black;
    position: absolute;
    font-family: monospace, sans-serif;
    left: 22%;
    top: -3%;
    font-weight: 500;
}

.github {
    font-size: 25px;
    color: #968a96;
    font-family: monospace, sans-serif;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 3%;
}

.github:hover {
    border-radius: 3px;
    background: #bda4bd;
}

.pic {
    position: absolute;
    border-radius: 200%;
    left: 15%;
    top: 4%;
    width: auto;
    height: auto;
    max-width: 5%;
    max-height: 10%;
}

.learnlist ul {
    list-style-type: square;
    position: absolute;
    font-size: 125%;
    left: 21%;
    top: 20%;
    font-family: monospace, sans-serif;
}

.learning {
    position: absolute;
    font-family: monospace, sans-serif;
    font-size: 150%;
    font-weight: 700;
    left: 22%;
    top: 15%;
}

.icon {
    position: absolute;
    width: 3%;
    height: 3%;
    top: 50%;
    left: 47%;
}